@import '../../assets/scss/variables';

.Pagination {

    display: flex;
    gap: 15px;
    margin-top: 15px;
    justify-content: center;
}

.ListItemButton {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 24px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
  color: white;
  border: 2px solid transparent;
  border-radius: 15px;
  margin-right: 42px;
  position: relative;
  cursor: pointer;
  background: $basic-gradient-border-red-darkBlue;
  margin-right: 0;
  border-radius: 20px;
  width: 40px;
  padding: 5px;
  text-align: center;
    &::before{
        content: ''
    }
 }

 .Ellipsis {
  padding-top: 25px;
 }

 .ListItemInactiveButton {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 24px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
  color: white;
  border: 2px solid transparent;
  border-radius: 15px;
  margin-right: 42px;
  position: relative;
  cursor: pointer;
  margin-right: 0;
  border-radius: 5px;
  width: 40px;
  padding: 5px;
  text-align: center;
    &::before{
        content: ''
    }
 }


 .ListButton {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  display: flex;
  gap: 45px;
  flex-wrap: wrap
}

.ButtonPagination {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 24px;
  background-color: transparent;
  font-size: 10px;
  color: white;
  border: 2px solid transparent;
  position: relative;
  cursor: pointer;
  background: $basic-gradient-border-red-darkBlue;
  margin-right: 0;
  border-radius: 5px;
  width: 30px;
  text-align: center;
  height: 44px;
    &::before{
        content: ''
    }
    &:disabled {
      border-color: $basic-grey;
    }
}

.ButtonSwapPage {
height: max-content;
border: 2px solid transparent;
background-color: transparent;
background: $basic-gradient-border-red-darkBlue;
display: flex;
border-radius: 25px;
margin: auto 0;
&:disabled {
  border-color: $basic-grey;

  svg {
    path {
      fill:$basic-grey ;
    }
  }
}
}

@media (max-width: $modile) {
  .ListButton {
    align-items: center;
    gap: 10px;
  }

  .ListItemInactiveButton {
    width: auto; 
    padding: 0;
  }

  .ListItemButton {
    width: auto; 
    padding: 0;
    border-radius: 0px;
    border: none;
    border-bottom: 2px white solid;
  }

  .Pagination {
    gap: 5px;
  }
}