@import '../../assets/scss/mixin.scss';

.preview {
    padding: 20px 20px;

    &__spotlight {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
    }

    &__title{
        font-family: 'Montserrat', sans-serif;
        font-size: 61px;
        font-weight: 600;
        line-height: 91px;
        letter-spacing: 0em;
        text-align: left;
        width: 874px;
    }

    &__listContaier{
        display: flex;
    }

    &__iconList{
        display: flex;
        margin-right: 50px;

        li:not(:last-child){
            margin-right: 15px;
        }
    }

    &__seriesList{
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    &__seriesListItem:not(:last-child) {
        margin-right: 60px;
    }

    
    &__seriesListItem:nth-child(1) {
        position: relative;
        &::after {
            content: '';
            height: 10px;
            width: 10px;
            border-radius: 5px;
            position: absolute;
            background: #343333;
            left: 45px;
            top: 8px;
        }
    }

    &__seriesListItem:nth-child(3) {
        margin-right: 60px;
        position: relative;
        &::before{
            content: '';
            height: 10px;
            width: 10px;
            border-radius: 5px;
            position: absolute;
            background: #343333;
            top: 8px;
            right: 60px;
        }
    }

    &__description {
        margin-top: 25px;
        width: 530px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;

    }

    &__buttonsContainer {
        margin-top: 20px;
        &_watchLink {
            @include button
        }

        &_addToList {
            @include buttonAddToList
        }
    }
}