@import '../../assets/scss/variables';
@import '../../assets/scss/mixin.scss';

.MainCategories {
    padding: 70px 60px 113px;
}

.Title {
    @include componentHeader
}

.Error {
    @include mediumText
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
}

.Container:not(:first-child) {
    margin-top: 94px;
}

@media (max-width: $modile) {
    .MainCategories {
        padding: 76px 20px;
    }
}

@media (max-width: 670px ) {
    .MainCategories {
        padding: 70px 20px 113px;
    }
}