@import '../../assets/scss/mixin.scss';

.Characters {
    @include background;
}

.Overlay {
    @include overlay;
    padding: 20px 60px;
}

.Header {
    @include componentHeader;
}

@media (max-width: $modile) {
    .Overlay {
        padding: 20px;
    }
    .List {
        justify-content: center;
    }
}