@import '../../assets/scss/variables';

.Header {
    padding: 24px 41px 0;
    display: flex;
    margin-bottom: 48px;
}

.NavigationList {
    display: flex;
    color: white;
    margin-left: 93px;
    margin-top: 17px;
    gap: 74px;
}

.NavigationListMovies {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    position: relative;
    border: none;
    display: block;
    &::first-letter {
        background: linear-gradient(188.73deg, #1DA1F2 11.03%, #C93677 79.85%, rgba(255, 255, 255, 0) 79.85%),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

.SearchContainer {
    margin-left: 15px;
    padding-top: 10px;
    display: flex;
    width: 100%;
    &_account{
        background: inherit;
        cursor: pointer;
        margin-left: 32px;
    }
}

.MenuLogo {
    display: flex;
} 

.SearchContainer_account {
    border: none;
}

.ButtonExit {
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin-left: auto;
}


.ProfileLink {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-right: 5px;
    margin-left: 5px;
    background: $basic-gradient-red-blue;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    &:after {
      position: absolute;
      content:"";
      width: 0;
      height: 2px;
      background: $basic-gradient-purple-red;
      bottom: -5px;
      right: 0;
      left: 0;
      transition: all .5s;   
    } 

    &:hover {
        &:after {
          width: 100%; 
        }
    }
}

.DropdownMenu {
    display: none;
}


.UserButton {
    display: flex;
    height: 50px;
}

.Container {
    display: flex;
}

@media (max-width: $modile) {
    .DropdownMenu {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        position: relative;
        margin-right: 10px;
        background-color: inherit;

        &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: white;
            left: 8px;
            top: 10px;
        }

        span {
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: white;
            left: 8px;
            top: 22px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 3px;
            left: 8px;
            bottom: 10px;
            background-color: white;
        }
    }

    .Navigation {
        position: relative
    }

    .DropdownMenuClose {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        position: relative;
        margin-right: 10px;
        background-color: inherit;

        &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: white;
            left: 11px;
            top: 23px;
            transform: rotate(134deg);
        }

        &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 3px;
            left: 11px;
            bottom: 10px;
            bottom: 24px;
            background-color: white;
            transform: rotate(45deg)
        }
    }

    .NavigationList {
        display: none;
        margin-left: 0;
        gap: 25px;
    }

    .SearchContainer_account {
        margin-left: 13px;
    }

    .Active {
        display: flex;
        flex-direction: column;
        position: absolute;
        border: 2px white solid;
        z-index: 6;
        top: 34px;
        background-color: #070707;
        border-radius: 5px;
        right: 55px;
    }
}

@media (max-width: $tablet) {
    .Header{
        position: relative;
    }
}

