@import '../../assets/scss/variables';

.Header {
    padding: 23px 20px;
    display: flex;

    &__logoContainer {
        margin-right: 90px;
    }

    &__navigationList {
        display: flex;
        color: white;
        padding-top: 15px;
    }

    &__navigationListItem {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        line-height: 24px;
        margin-right: 70px;
        background: $basic-gradient-red-blue;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__searchContainer {
        margin-left: auto;
        padding-top: 10px;
        display: flex;
        gap: 25px;
        &_account{
            background: inherit;
            cursor: pointer;
            margin-left: 32px;
        }
    }

    &__searchContainer_account {
        border: none;
    }

    &__buttonExit {
        background-color: inherit;
        border: none;
        cursor: pointer;
        margin-left: auto;
    }


    &__profileLink {
        margin-top: auto;
        margin-bottom: auto;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        line-height: 24px;
        margin-right: 20px;
        background: $basic-gradient-red-blue;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        &:after {
          position: absolute;
          content:"";
          width: 0;
          height: 2px;
          background: $basic-gradient-purple-red;
          bottom: -5px;
          right: 0;
          left: 0;
          transition: all .5s;   
        } 

        &:hover {
            &:after {
              width: 100%; 
            }
    }
}

    &__userButton {
        display: flex;
        height: 50px;
    }
}