$basic-black: #070707;
$basic-white: white;
$basic-black-amber: #090909;
$basic-gradient-red-blue : linear-gradient(113.83deg, #C93677 -2.94%, #33ADDF 41.89%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
$basic-gradient-purple-red:linear-gradient(113.83deg, #9747FF 50.06%, #F22323 99.89%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
$basic-gradient-darkBlue-yellow: linear-gradient(90deg, #143562 -4.21%, rgba(205, 220, 28, 0.94) 101.26%);
$basic-gradient-orange-red: linear-gradient(270deg, #DC781C -4.62%, #C93677 104.5%);
$basic-gradient-border-red-darkBlue: linear-gradient(#090909 0 0) padding-box, linear-gradient(to right, #CF427B 0%, #154587 100%) border-box;
$basic-gradient-overlay: linear-gradient(113.28deg, rgba(0, 0, 0, 0.9506) -18.76%, rgba(0, 0, 0, 0.9604) 100%);
$basic-gradient-border-black-purple-red: linear-gradient(#090909 0 0) padding-box, linear-gradient(to right,#9747FF -0.92%, #F22323 101.37%) border-box;
$basic-modal-overlay: rgba(0, 0, 0, 0.84);