.scrollbar {
    scrollbar-color: #cdcdcd black;
    scrollbar-width: thin;
    }
    
    .scrollbar::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 3px;
    }
    
    .scrollbar::-webkit-scrollbar {
    background-color: black;
    width: 6px;
    }
    
    .scrollbar_horizontal::-webkit-scrollbar {
    height: 6px;
    }
    
    .scrollbar::-webkit-scrollbar-thumb {
    background-color: #cdcdcd;
    border-radius: 3px;
    }
    
    .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
    }
}