@import './variables';

@mixin button {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    background: 
    linear-gradient(#090909 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #F22323 2.68%, #33ADDF 103.41%) border-box;
    color: white;
    padding: 10px 10px 10px 35px;
    border: 2px solid transparent;
    border-radius: 15px;
    margin-right: 42px;
    position: relative;
    cursor: pointer;

    &::before {
        content: url(../../assets/images/icons/play.svg);
        position: absolute;
        left: 15px;
        top: 9px;
    }
}

@mixin wrapper {
    background-color: $basic-black-amber;
    height: 100%;
    margin: auto;
    max-width: 1920px;
    width: calc(100vw - 100px); 
}

@mixin buttonAddToList {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;

    &::before {
        content: url(../../assets/images/icons/Plusicon.svg);
        position: absolute;
        top: 2px;
        left: -23px;
    }
}

@mixin background {
    background-image: url("../../assets/images/naruto.png");
    background-size: no-repeat;
    background-position: center;;
    background-size: cover;
    height: 1250px;
    max-width: 1800px;
    position: relative;

}

@mixin overlay {
    background: linear-gradient(113.28deg, rgba(0, 0, 0, 0.9506) -18.76%, rgba(0, 0, 0, 0.9604) 100%);
    max-width: 1800px;
    margin: 0;
    padding: 0;
    visibility: visible;
    opacity: 1;
    transition: 1s;
    height: 1250px;
    z-index: 1;
}

@mixin modalContainer {
    padding: 44px;
    max-width: 600px;
}

@mixin modalTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    line-height: 75px;
    width: max-content;
    margin-bottom: 15px;
}

@mixin modalInputsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 510px;
}

@mixin modalInput {
    width: 100%;
    height: 87px;
    padding: 26px 16px;
    background: rgba(48, 45, 45, 1);
    border-radius: 5px;
}

@mixin modalInputContainer {
    width: 510px;
}

@mixin modalInputName {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    width: max-content;
    margin-bottom: 15px;
}

@mixin modalButton {
    border: 4px solid rgba(189, 0, 255, 1);
    border-radius: 5px;
    width: 100%;
    height: 87px;
    text-align: center;
    background: transparent;
    cursor: pointer;
}

@mixin modalButtonText {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
}

@mixin modalAdditionalInformationText {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
}

@mixin modalAdditionalInformation {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

@mixin  modalAdditionalInformationButton{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: rgba(189, 0, 255, 1);
    background-color: transparent;
    cursor: pointer;
    border: none;
}