@import '../../assets/scss/mixin.scss';
@import '../../assets/scss/variables';

.SwapSlideButton {
    &:disabled {   
        svg {
          path {
            fill:$basic-grey ;
          }
        }
      }
    
}

.Slider {
    display: flex;
}

.List {
    display: flex;
    overflow-x: hidden;
    gap: 55px;
    transition: 1s;
}