@import '../../assets/scss/mixin.scss';
@import '../../assets/scss/variables';

.Slider {
    &__episodes {
        @include mediumText;
        margin-top: 0;
    }

    &__swapSlideButton {
        &:disabled {   
            svg {
              path {
                fill:#6b6b6b ;
              }
            }
          }
        
    }

    &__item {
        transition: 1s;
    }

    &__slider {
        display: flex;
    }

    &__list {
        display: flex;
        overflow-x: hidden;
        gap: 55px;
        transition: 1s;
    }

    &__image {
        width: 240px;
        height: 350px;
        filter: brightness(0.6);
    }

    &__contentContainer {
        position: absolute;
        bottom: 0;
    }

    &__title {
        @include componentHeader;
    }



    &__recommendationsTitle {
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 37px;
        border-bottom: 2px solid $basic-white;
        width: max-content;
        margin-bottom: 15px;
    }

    &__titleListContainer {
        position: absolute;
        display: flex;
        justify-content: center;
        overflow: hidden;
        bottom: 4px;
        width: 240px;
        background: linear-gradient(90deg, #101010 0%, rgba(0, 0, 0, 0.9) 100%);
        flex-direction: column;
    }

    &__titleListItemNames {
        @include listItemName;
    }
}
