@import '../../assets/scss/mixin.scss';
@import '../../assets/scss/variables';

.AlphabetSearch {
    padding: 50px 20px;
    position: relative;

    &::before {
        content: '';
        height: 3px;
        width: 1750px;
        position: absolute;
        background: $basic-gradient-orange-red;
        left: 20px;
        top: 0;

    }
     &__list {
        display: flex;
        margin-top: 15px;
     }

     &__listItem {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        @include button;
        background: $basic-gradient-border-red-darkBlue;
        margin-right: 31px;
        padding: 5px 9px 5px 9px;
        border-radius: 5px;
        &::before{
            content: ''
        }
     }
}