@import '../../assets/scss/mixin.scss';

.Login {
    display: flex;

    &__container {
        padding: 44px;
        max-width: 600px;
    }

    &__title {
        font-family: 'Roboto', sans-serif;
        font-size: 64px;
        line-height: 75px;
        width: max-content;
        margin-bottom: 15px;
    }

    &__inputsContainer {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 510px;
    }

    &__input {
        width: 100%;
        height: 87px;
        padding: 26px 16px;
        background: rgba(48, 45, 45, 1);
        border-radius: 5px;
    }

    &__inputContainer {
        width: 510px;
    }

    &__inputName {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        line-height: 28px;
        width: max-content;
        margin-bottom: 15px;
    }

    &__buttonSubmit {
        border: 4px solid rgba(189, 0, 255, 1);
        border-radius: 5px;
        width: 100%;
        height: 87px;
        text-align: center;
        background: transparent;
        cursor: pointer;
        &:disabled {
            border-color: grey;
            color: grey;
        }
    }

    &__buttonText {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        line-height: 28px;
    }

    &__additionalInformationText {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        line-height: 28px;
    }
    &__additionalInformation {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    &__additionalInformationButton {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        line-height: 28px;
        color: rgba(189, 0, 255, 1);
        background-color: transparent;
        cursor: pointer;
        border: none;
    }

    &__validationError {
        @include discription;
        margin-top: 10px
    }
}

@media (max-width: 1148px) {
    .Login {
        &__imageContainer {
            display: none;
        }

        &__container {
            padding: 44px;
            /* max-width: 600px; */
            width: 100%;
            /* width: 10000px; */
            min-width: 343px;
            max-width: 600px;
        }

        &__inputsContainer {
            width: auto;
        }

        &__inputContainer {
            width: auto;
        }
    }
}

