@import '../../assets/scss/mixin.scss';
@import '../../assets/scss/variables';

.AnimeControls {
    position: relative;
}

.Button{
    @include button;
    width: 250px;
    border-radius: 0;
    margin-right: 0;
    &::before {
        content: url(../../assets/images/icons/Plusicon.svg)
    };
}

.ActiveButton {
    @include button;
    width: 250px;
    border-radius: 0;
    margin-right: 0;
    &::before {
        content: url(../../assets/images/icons/tick.svg)
    };
}

.ShowButton {
    position: absolute;
    z-index: 2;
    right: 15px;
    top: 18px;
    svg {
        transition: $animate-for-svg;
        display: block;
    }
}

.HiddenBtn {
    max-height: 0;
    transition: max-height 1.5s ease-out;
    overflow: hidden;
}

.HiddenBtnShow {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 1.5s ease-in;
}