@import '../../assets/scss/mixin.scss';

.AnimeControls {
    &__button{
        @include button;
        width: 250px;
        border-radius: 0;
        margin-right: 0;
        &::before {
            content: url(../../assets/images/icons/Plusicon.svg)
        };
    }

    &__activeButton {
        @include button;
        width: 250px;
        border-radius: 0;
        margin-right: 0;
        &::before {
            content: url(../../assets/images/icons/tick.svg)
        };
    }

    &__hiddenBtn {
        max-height: 0;
        transition: max-height 1.5s ease-out;
        overflow: hidden;
    }

    &__hiddenBtnShow {
        max-height: 500px;
        overflow: hidden;
        transition: max-height 1.5s ease-in;
    }
}