@import '../../assets/scss/mixin.scss';

.Player {
    text-align: center;
    position: relative;
    height: max-content;
    &::before {
        content: '';
        height: 3px;
        width: 1770px;
        position: absolute;
        background: linear-gradient(90deg, #9747FF -0.92%, #F22323 101.37%);
        left: 0px;
        top: 0;
        z-index: 23;

    }

    &::after {
        content: '';
        height: 3px;
        width: 1770px;
        position: absolute;
        background: linear-gradient(270deg, #DC781C -4.62%, #C93677 104.5%);
        left: 0px;
        bottom: 0;
        z-index: 23;

    }
    &__video {
        text-align: center;
        padding: 20px;
    }

    &__background{
        @include background;
        background-image: url("../../assets/images/wp5104313\ 1.png");
        height: max-content;
        position: relative;
    
    }
    &__overlay {
        @include overlay;
        background: linear-gradient(113.28deg, rgba(0, 0, 0, 0.9506) -18.76%, rgba(0, 0, 0, 0.9604) 100%);
        height: max-content;
    }

    &__buttonsContainer {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    &__buttons {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        background-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 31px;
        background: linear-gradient(#090909 0 0) padding-box, linear-gradient(to right, #F22323 2.68%, #33ADDF 103.41%) border-box;
        color: white;
        border: 2px solid transparent;
        border-radius: 15px;
        margin-right: 42px;
        position: relative;
        cursor: pointer;
        background: linear-gradient(#090909 0 0) padding-box, linear-gradient(to right, #CF427B 0%, #154587 100%) border-box;
        margin-right: 31px;
        border-radius: 5px;
        width: 50px;
        margin-bottom: 10px;
    }
}