@import '../../assets/scss/mixin.scss';
@import '../../assets/scss/variables';

.Player {
    text-align: center;
    position: relative;
    height: max-content;
    &::before {
        @include border
    }
    &::after {
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        background: $basic-gradient-orange-red;
        left: 0px;
        bottom: 0;
        z-index: 23;
    
    }
}

.Iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.SeriesDescriptionHeader {
    @include title;
}

.SeriesDescriptionText {
    @include mediumText;
    text-align: left;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.IframeContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.SeriesDescriptionContainer {
    margin-top: 40px;
}
.Video {
    text-align: center;
    padding: 120px;
}

.Background{
    @include background;
    background-image: url("../../assets/images/wp5104313\ 1.png");
    height: max-content;
    position: relative;

}

.Container {
    overflow: hidden auto;
    height: 234px;
    gap: 14px;
    display: flex;
    flex-direction: column;
    background: $basic-gradient-border-black-purple-red;
    border: 2px solid transparent;
    padding: 7px;
}
.Overlay {
    @include overlay;
    background: $basic-gradient-overlay;
    height: max-content;
}

.ButtonsContainer {
    display: flex;
    flex-direction: column;
    width: 140px;
    margin: 0 auto;
}

.SelectorHidden {
    @include playerSelectAndSearchInput;
    border: 2px solid transparent;
    position: relative;
    cursor: pointer;
    background: $basic-gradient-border-red-darkBlue;
    border-radius: 5px;
    width: 80px;
    margin-bottom: 10px;
    text-align: center;
    height: 37px;
    width: 100%;

    &::before {
        content: url(../../assets/images/icons/sort.svg);
        background-size: 25px 25px;
        position: absolute;
        right: 0;
        top: 5px
    }
}

.SelectorOpen {
    @include playerSelectAndSearchInput;
    border: 2px solid transparent;
    position: relative;
    cursor: pointer;
    background: $basic-gradient-border-red-darkBlue;
    border-radius: 5px;
    width: 80px;
    margin-bottom: 10px;
    text-align: center;
    height: 37px;
    width: 100%;
    ::before {
        content: url(../../assets/images/icons/sort.svg);
        background-size: 25px 25px;
        position: absolute;
        right: 0;
        bottom: 4px;
        transform: rotate(180deg);
    }
}

.SelectorButtons {
    @include playerSelectAndSearchInput;
    border: 2px solid transparent;
    position: relative;
    cursor: pointer;
    background: $basic-gradient-border-red-darkBlue;
    border-radius: 5px;
    width: 80px;
    margin-bottom: 10px;
    text-align: center;
    height: 37px;
    width: 100%;
}

.SelectorOption {
    color: $basic-white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 25px;
    background-color: $basic-black;
}

.SearchSeries {
    border: 2px solid #6b6b6b;
    border-radius: 10px;
    background: inherit;
    height: 37.0461540222168px;
    width: 100%;
    padding: 11px;
    @include playerSelectAndSearchInput;
}

@media (max-width: $tablet) {
    .Video {
        text-align: center;
        padding: 20px;
    }
}

@media (max-width: $modile) {
    .IframeContainer {
        padding-top: 85%;
    }
}