@import '../../../assets/scss/mixin.scss';

.AnimeControlsButton {
    &__button{
        @include button;
        width: 250px;
        border-radius: 0;
        margin-right: 0;
        &::before {
            content: url(../../../assets/images/icons/Plusicon.svg)
        };
    }
}