@import '../../assets/scss/mixin.scss';

.wrapper {
    @include wrapper
}

.Profile {
    padding: 20px;
    &__favoriteList {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__favoriteListItem {
        display: flex;
        width: 100%;
    }

    &__favoriteListItemTitle {
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        line-height: 31px;
        margin: auto;
    }

    &__favoritelistItemEpisodes {
        width: 10%;
        font-size: 20px;
        font-weight: 600;
        line-height: 31px;
        margin: auto;
    }

    &__background {
        @include background;
        background-image: url("../../assets/images/wp5104313\ 1.png");
        min-height: 1000px;
        max-height: max-content
    }
    
    &__overlay {
        @include overlay;
        background: linear-gradient(113.28deg, rgba(0, 0, 0, 0.9506) -18.76%, rgba(0, 0, 0, 0.9604) 100%);
        min-height: 1000px;
        max-height: max-content;
    }
    &__favoriteListItemButtonDeleted{
        @include button;
        padding: 10px 10px 10px 10px;
        &:before {
            content: '';
        }
    }
}