@import '../../assets/scss/mixin.scss';
@import '../../assets/scss/variables'; 


.FiltersPage {
    @include background;
    background-image: url("../../assets/images/naruto.png");
    position: relative;
} 

.List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 25px;
}

.Overlay {
    @include overlay;
    background: $basic-gradient-overlay;
    padding: 20px 60px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.FiltersContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    
}

.FooterBackground {
    @include background;
    background-image: url('../../assets/images/footer.png');
}

.FooterOverlay {
    @include overlay;
    background: $basic-gradient-overlay;
}
@media (max-width: $modile) {
    .Overlay {
        padding: 20px;
    }
}