@import '../../assets/scss/mixin.scss';
@import '../../assets/scss/variables'; 

.wrapper {
    @include wrapper
}

.GenrePage {
    @include background;
    background-image: url("../../assets/images/naruto.png");
    height: max-content;
    position: relative;
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        margin-top: 25px;
    }

    &__listItem {
        width: 257px;
    }

    &__overlay {
        @include overlay;
        background: linear-gradient(113.28deg, rgba(0, 0, 0, 0.9506) -18.76%, rgba(0, 0, 0, 0.9604) 100%);
        padding: 20px;
        height: max-content;
    }
} 