@import '../../assets/scss/variables';
@import '../../assets/scss/mixin.scss';

.Filter {
    position: relative;
}

.Conteiner {
    display: flex;
    gap: 25px;
    position: relative;
}


.List {
    border: 1px solid transparent;
    background: $basic-gradient-text-border-blue-red;
    position: absolute;
    z-index: 2;
    left: 148px;
    text-align: center;
    background-color: black;
    height: 116px;
    overflow-y: scroll;
}

.Item {
    width: 140px;
    padding: 5px;
    @include mediumText;
    border-bottom: 1px solid transparent;
    background: $basic-gradient-text-border-blue-red;
}

.Button {
    width: 146px;
    border: 1px solid transparent;
    background: $basic-gradient-text-border-blue-red;
    @include mediumText;

    &:disabled {
        border-color: #6b6b6b;
      }
}