@import '../../assets/scss/mixin.scss';
@import '../../assets/scss/variables';



.previewBackground{
    @include background;
    background-size: no-repeat;
    background-position: center;;
    background-size: cover;

}

.wrapper {
    height: 100%;
    margin: 0px auto;
    max-width: 1920px;
}

.LoaderContainer {
    height: 100vh
}

.previewOverlay {
    @include overlay;
    background: $basic-prewiev-first-overlay;
}

.mainBackground {
    @include background;
    background-image: url("../../assets/images/naruto.png");
    height: max-content;
    position: relative;

}
.mainOverlay {
    @include overlay;
    background: $basic-gradient-overlay;
    height: max-content;
}

.Recommended {
    background-image: url("../../assets/images/wp5104313\ 1.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: max-content;
    &__overlay {
        background: $basic-gradient-overlay;
        margin: 0;
        padding: 0;
        visibility: visible;
        opacity: 1;
        transition: 1s;
        height: max-content;
    }
}

.FooterBackground {
    @include background;
    background-image: url('../../assets/images/footer.png');
}

.FooterOverlay {
    @include overlay;
    background: $basic-gradient-overlay;
}



