@import '../../assets/scss/variables';

.Genres {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-right: 70px;
    background: $basic-gradient-red-blue;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    position: relative;
    border: none;

    &__list {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        position: absolute;
        width: 505px;
        background: $basic-gradient-border-black-purple-red;
        color: white;
        padding: 10px;
        border: 2px solid transparent;
        border-radius: 20px;
        z-index: 2;
        padding: 20px 28px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__listItem {
        z-index: 3;
        color: white;
        padding: 10px;
        background: $basic-gradient-border-black-purple-red;
        border: 1px solid transparent;
        border-radius: 9px;
    }
}