@import '../../assets/scss/variables';
@import '../../assets/scss/mixin';

.Genres {
    @include navLinks;

    &__list {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        position: absolute;
        width: 505px;
        background: $basic-gradient-border-black-purple-red;
        color: white;
        padding: 10px;
        border: 2px solid transparent;
        border-radius: 20px;
        z-index: 2;
        padding: 20px 28px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}


@media (max-width: $modile) {
    .Genres {
        &__list {
            justify-content: center;
            height: 323px;
            overflow: hidden auto;
            width: auto
        }

        &__listItem {
            width: 200px;
            text-align: center;
        }
    }
}
