@import '../../assets/scss/variables';
@import '../../assets/scss/mixin.scss';

.Search {
    margin-left: auto;
    display: flex;
}

.Input {
    @include mediumText;
    margin-left: auto;
    margin-top: 0;

    border: 2px solid $basic-search-border-color;
    border-radius: 10px;
    background: inherit;
    height: 37.0461540222168px;
    padding: 22px;
    display: block;
    width: 300px;
    @include mediumText;


    &::placeholder{
        @include mediumText;
        text-align: center;

    }
}

.InputButton {
    display: none;
    margin-left: auto;
    background-color: inherit;
    cursor: pointer;
    position: relative;
}

.Loading {
    position:  absolute;
    top: 89px;
    width: 300px;
    padding: 15px;
    background: #090909;
    border-radius: 12px;
    border: 2px solid $basic-search-border-color;
    z-index: 2;
    @include mediumText;
}

.List {
    position: absolute;
    z-index: 2;
    border: 2px solid $basic-search-border-color;
    border-radius: 12px;
    top: 89px;
    padding: 15px;
    display: grid;
    gap: 6px;
    background: #090909;
    width: 300px;
    @include mediumText;
};


.ButtonActive {
    display: block;
}

@media (max-width: $tablet) {
    .Input {
        display: none;
        width: 100%;
    }

    .List {
        left: 0;
        top: 128px;
        width: 100%;
    }

    .Loading {
        left: 0;
        top: 128px;
        width: 100%;
    }

    .InputButton {
        display: block;
        border: none;
    }

    .ButtonActive {
        display: block;
        left: 0;
        top: 81px;
        z-index: 5;
        position: absolute;
    }

}