.Search{

    position: relative;

    &__input {
        border: 2px solid rgba(107, 107, 107, 1);
        border-radius: 10px;
        background: inherit;
        height: 37.0461540222168px;
        width: 438px;
        padding: 22px;
    
    
        &::placeholder{
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
    
        }
    }

    &__list {
        position: absolute;
        z-index: 2;
        width: 100%;
        border: 1px solid;
        border-radius: 12px;
        top: 53px;
        padding: 15px;
        display: grid;
        gap: 6px;
        background: #090909;
    }
}