@import '../../assets/scss/variables';
@import '../../assets/scss/mixin.scss';

.Search{

    margin-left: auto;
    display: flex;

    &__input {
        @include mediumText;
        margin-left: auto;
        margin-top: 0;

        border: 2px solid $basic-search-border-color;
        border-radius: 10px;
        background: inherit;
        height: 37.0461540222168px;
        padding: 22px;
        display: block;
        width: 300px;
    
    
        &::placeholder{
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
    
        }
    }

    &__inputButton {
        display: none;
        margin-left: auto;
        background-color: inherit;
        cursor: pointer;
        position: relative;
    }

    &__list {
        position: absolute;
        z-index: 2;
        border: 1px solid;
        border-radius: 12px;
        top: 79px;
        padding: 15px;
        display: grid;
        gap: 6px;
        background: #090909;
    };

    &__buttonActive {
        display: block;
    }

}

@media (max-width: $tablet) {
    .Search__input {
        display: none;
        width: 100%;
    }

    .Search__list {
        left: 0;
        top: 128px;
        width: 100%;
    }

    .Search__inputButton {
        display: block;
        border: none;
    }

    .Search__buttonActive {
        display: block;
        left: 0;
        top: 81px;
        z-index: 5;
        position: absolute;
    }

}