@import '../../assets/scss/mixin.scss';
@import '../../assets/scss/variables';


.Anime {
    height: max-content;

    &__background{
        @include background;
        background-image: url("../../assets/images/naruto.png");
        height: max-content;
        position: relative;
    
    }
    &__overlay {
        @include overlay;
        background: $basic-gradient-overlay;
        height: max-content;
    }

    &__addToList{
        @include button;
        width: 250px;
        margin-top: 20px;
        &::before {
            content: url(../../assets/images/icons/Plusicon.svg)
        };
    }

    &__imgContaier {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    &__image {
        width: 250px;
        height: 350px;
    }

    &__container {
        display: flex;
    }

    &__player {
        text-align: center;
        padding: 20px
    }

    &__btnContainer {
        width: 250px;
        margin-top: 20px;
    }


    &__hiddenBtn {
        max-height: 0;
        transition: max-height 0.7s ease-out;
        overflow: hidden;
    }

    &__hiddenBtnShow {
        max-height: 500px;
        overflow: hidden;
        transition: max-height 0.7s ease-in;
    }

    &__mainBtn {
        display: flex;
        margin-right: 0;
    }

}

@media (max-width: $tablet) {
    .Anime {
        &__container {
            flex-direction: column;
        }

        &__imgContaier {
            margin: 0 auto;
        }
    }
}

