@import '../../assets/scss/mixin.scss';
@import '../../assets/scss/variables';


.Background{
    @include background;
    background-image: url(../../assets/images/naruto.png);
    height: max-content;
    position: relative;

}
.Overlay {
    @include overlay;
    background: $basic-gradient-overlay;
    height: max-content;
}

.ImgContaier {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}


.Image {
    width: 250px;
    height: 350px;
}

.Container {
    display: flex;
    padding: 20px 60px
}


.BtnContainer {
    width: 250px;
    margin-top: 20px;
}

.FooterBackground {
    @include background;
    background-image: url('../../assets/images/footer.png');
}

.FooterOverlay {
    @include overlay;
    background: $basic-gradient-overlay;
}

@media (max-width: $tablet) {
    .Container {
        flex-direction: column;
    }

    .ImgContaier {
        margin: 0 auto;
    }
}

@media (max-width: $modile) {
    .Container {
        padding: 20px 20px;
    }
}

