.mostPopular {
    padding: 20px 20px;

    &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 37px;
        border-bottom: 2px solid white;
        width: max-content;
        margin-bottom: 15px;
    }

    &__titleList {
        display: flex;
        position: relative;

        li:not(:last-child){
            margin-right: 42px;
        }

        li{
            span{
                font-family: 'Montserrat', sans-serif;
                font-size: 25px;
                font-weight: 600;
                line-height: 30px;
                background: linear-gradient(180deg, #DC781C 0%, #C93677 100%),
                linear-gradient(0deg, #FFFFFF, #FFFFFF);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-right: 10px;
                margin-top: 2px;
            }

            img{
                border-radius: 10px;
            }
        }
    }
    
    &__container {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 260px;
        bottom: 4px;
        background: linear-gradient(90deg, #101010 0%, rgba(0, 0, 0, 0.9) 100%);
    }
}

.Recommended {
    background-image: url("../../assets/images/wp5104313\ 1.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1003px;
    max-width: 1820px;
    &__overlay {
        background: linear-gradient(113.28deg, rgba(0, 0, 0, 0.9506) -18.76%, rgba(0, 0, 0, 0.9604) 100%);
        max-width: 1800px;
        margin: 0;
        padding: 0;
        visibility: visible;
        opacity: 1;
        transition: 1s;
        height: 1003px;
    }
}