@import '../../assets/scss/mixin.scss';
@import '../../assets/scss/variables';

.Recommended {
    position: relative;

    @include background;
    background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/banner/128893-pAA7PjY8l7dy.jpg);

    &::after {
        @include border;
    }
}

.Overlay {
    @include overlay;
    padding: 20px 60px
}

.RecommendationsTitle {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    border-bottom: 2px solid $basic-white;
    width: max-content;
    margin-bottom: 15px;
}

@media (max-width: $modile) {
    .Overlay {
        padding: 20px;
    }
}