@import '../../assets/scss/mixin.scss';


.Movies {

    @include background;
    background-image: url("../../assets/images/naruto.png");
    height: max-content;
    position: relative;
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        margin-top: 25px;
    }

    &__listItem {
        width: 257px;
        position: relative;
    }

    &__container {
        position: absolute;
    }

    &__listItemName {
        @include listItemName;
    }

    &__overlay {
        @include overlay;
        background: $basic-gradient-overlay;
        padding: 20px;
        height: max-content;
    }
}

.FooterBackground {
    @include background;
    background-image: url('../../assets/images/footer.png');
}

.FooterOverlay {
    @include overlay;
    background: $basic-gradient-overlay;
}