@import '../../assets/scss/mixin.scss';

.Footer {

    &__background {
        @include background;
        background-image: url("https://s3-alpha-sig.figma.com/img/d7bc/6f82/6dd945bec6bb0b5e394d3f9a1c16e8c8?Expires=1676851200&Signature=GmjmvKgHbT6yZKqu-f27RY3PTVRcWeglT4uF4-0kVELdZIeW3DEyqBrnz--NN1~naWop6rUwyB1Q8hTqt6aCSt9vJSZoMK~TucPk~g35vAoCnHtNlFjc9xuIRHRQytgpIQovav3A8I9sJGr9Tvh9-o-DT2QayGibhw8579GS7xKybxaVfZqSPk3VOo~rRj38qcl657Amj0fbNqS2XZk~yUbk1N26Nyku-T~uXyQs6gUirXrUodxcw70gqiSHZYsAqLt90~PR~3WDBjiRUg~bX48o9ucRAh0T3lQx4EwvGixa7LjFfQRZYo7OxOG~otoMlW7RWHjKB-jB2WvOFI9ZYg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
        height: 400px;
    }
    
    &__overlay {
        @include overlay;
        background: linear-gradient(113.28deg, rgba(0, 0, 0, 0.9506) -18.76%, rgba(0, 0, 0, 0.9604) 100%);
        height: 400px;
    }

    &__container {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
    }


    &__navigationListItem {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 37px;
    }

    &__navigationTitle{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 46px;
    }


    &__informationListItem {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 46px;

    }

    &__social {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;

    }

    &__socialList{
        margin-top: 15px;
    }
}