@import '../../assets/scss/mixin.scss';

.Footer {

    &__background {
        @include background;
        background-image: url("https://s3-alpha-sig.figma.com/img/d7bc/6f82/6dd945bec6bb0b5e394d3f9a1c16e8c8?Expires=1675641600&Signature=HTtt45Qj6iCAL9mklwBjMwWrJf5ymnwzeeL1GH0FOVc4bsEvlErzkfd7uosk51ABBIG35Vwj8wk0ovsvmRXDTfowVksyLTY9K18R1FsgYtxAjV83m6-eeycFJ7gzq4rLK8WlTuxwquPSFurk3765AScFsUDx~qjznt8mpmUVsbGs7sxy8sLziqGqC~xreoe84rgLCche8aqRe61A86JTRlKWeg~uNU6~v5sM97Tb23LOH-qKeyIzuJce8ufWBJaGEWQS~U-bRyn~iWBlyrdgwfPG7l5LX-U6GI-h25x2c5EDu9PmyRU3A9nlBlNrQW7-OYucGdG2q4fR4rj3DYUh-Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
        height: 400px;
    }
    
    &__overlay {
        @include overlay;
        background: linear-gradient(113.28deg, rgba(0, 0, 0, 0.9506) -18.76%, rgba(0, 0, 0, 0.9604) 100%);
        height: 400px;
    }

    &__container {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
    }


    &__navigationListItem {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 37px;
    }

    &__navigationTitle{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 46px;
    }


    &__informationListItem {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 46px;

    }

    &__social {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;

    }

    &__socialList{
        margin-top: 15px;
    }
}