@import '../../../assets/scss/mixin.scss';
@import '../../../assets/scss/variables';

.List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 25px;
}

.Episodes {
    @include mediumText;
    margin-top: 0;
}

.TitleListContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    bottom: 4px;
    width: 100%;
    background: linear-gradient(90deg, #101010 0%, rgba(0, 0, 0, 0.9) 100%);
    flex-direction: column;
}

.TitleListItemNames {
    @include listItemName;
}

.ListItem {
    width: 257px;
    position: relative
}

.Image {
    width: 257px;
    height: 400px;
}

.ListButton {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    display: flex;
    gap: 45px;
    flex-wrap: wrap
 }