@import '../../assets/scss/variables';
@import '../../assets/scss/mixin.scss';

.Navigation {
    padding: 24px 41px 0;
    display: flex;
    margin-bottom: 48px;

    &__navigationList {
        display: flex;
        color: white;
        margin-left: 93px;
        margin-top: 17px;
        gap: 74px;
    }

    &__navigationListMovies {
        @include navLinks;
    }

    &__genreButton {
        @include navLinks
    }
}

@media (max-width: $modile) {

    .Navigation__navigation {
        position: relative
    }


    .Navigation__navigationList {
        display: none;
        margin-left: 0;
        gap: 25px;
    }


    .Navigation__active {
        display: flex;
        flex-direction: column;
        position: absolute;
        border: 2px white solid;
        z-index: 6;
        top: 34px;
        background-color: #070707;
        border-radius: 5px;
        right: 55px;
    }
}

@media (max-width: $tablet) {
    .Navigation{
        position: relative;
    }
}

