@import '../../assets/scss/mixin.scss';

.Discription {
    padding: 20px;

    &__info{
        display: flex;
        width: 500px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__rowFirstColumn{
        margin-top: 15px;
        width: 250px;
    }

    &__rowTwoColumn {
        width: 250px;
        margin-top: 15px;
    }

    &__player {
        padding: 20px
    }

    &__text {
        @include discription;
    }
}

@media (max-width: $tablet) {
    .Discription {
        &__rowFirstColumn {
            width: 50%;
        }

        &__rowTwoColumn {
            width: 50%;
        }

        &__info {
            width: auto;
        }
    }
}