@import '../../assets/scss/mixin.scss';

.Info{
    margin-bottom: 20px;

    display: flex;
    width: 500px;
}

.Row {
    display: flex;
    flex-wrap: wrap;
}

.RowFirstColumn{
    margin-top: 15px;

    @include mediumText;

    width: 250px;
}

.RowTwoColumn {
    margin-top: 15px;

    @include mediumText;
    
    width: 250px;

}

.Player {
    padding: 20px
}

.Text {
    @include mediumText;
}

@media (max-width: $tablet) {
    .RowFirstColumn {
        width: 50%;
    }

    .RowTwoColumn {
        width: 50%;
    }

    .Info {
        width: auto;
    }
}